# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

In [2]:
chipo=pd.read_csv('chipotle.tsv',sep="\t")

### Step 4. How many products cost more than $10.00?

In [3]:
price_float = [float(value[1:-1]) for value in chipo['item_price'] ]
chipo['item_price']=price_float
chipo['item_price'].dtype

dtype('float64')

In [4]:
chipo.query('item_price>10.00').value_counts().count()

1116

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

### Step 6. Sort by the name of the item

In [5]:
chipo.sort_values(by='item_name')

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [6]:
chipo.groupby("item_price").sum(numeric_only=True).sort_index(ascending=False)

            order_id  quantity
item_price
44.25           1443        15
35.25           1398         3
35.00           1954         8
33.75           1443         3
32.94            178         3
...              ...       ...
1.99            1793         1
1.69           82040        99
1.50          130856       117
1.25          265250       264
1.09           84666       106

[78 rows x 2 columns]

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [7]:
chipo.query('item_name=="Veggie Salad Bowl"').sum(numeric_only=True).to_frame()

                  0
order_id    17303.0
quantity       18.0
item_price    182.5

### Step 9. How many times did someone order more than one Canned Soda?

In [8]:
chipo.query('quantity>2 and item_name=="Canned Soda"')

      order_id  quantity    item_name choice_description  item_price
2235       901         4  Canned Soda           [Sprite]        4.36